#contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 600px;
}

.title {
	margin-bottom: 30px;
	padding: 10px 20px;
	border-left: 5px solid #ccc;
	background-color: rgba(0,0,0, .08);
	width: 50%
}

.details h3 {
	padding: 10px;
	text-align: center;
	cursor: pointer;
	margin-bottom: 5px;
}

.details h3 a{
	text-decoration: none;
	color: #000;
}

.details h3:hover {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}