* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    font-size: 100%;
    letter-spacing: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: bisque;
    text-transform: uppercase;
}

ul.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

ul li a.nav-link {
    padding: 20px 10px;
    display: block;
    text-decoration: none;

}